<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=1100">
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Facebook Paper 'Like' Demo</title>
    <link rel="stylesheet" href="../pages/demo/2/css/style.css"/>
    <style type="text/css">
    *{padding: 0;margin: 0;}
    </style>
</head>
<body>

    <h1>Facebook Paper 'Like' Demo</h1>

    <section class="paper-post">
        <div class="top-info">
            <a href="###">
                <!-- <img src="../pages/demo/2/img/avatar.jpg"> -->
                <img src="https://2.gravatar.com/avatar/92b3ae0b0b4b623e9af7ed4275bdf28e?d=https%3A%2F%2Fidenticons.github.com%2F2c716988ac1b99bd54ad746dd51d3c55.png&r=x&s=220">
                <span>Darnell Miller</span>
            </a>
        </div>

        <div class="content">
            Just finished my first full marathon!
            monday · public
        </div>

        <div class="bottom-bar">
            <div class="like-button">
                <i></i>
            </div>

            <div class="comment-button">
                <i></i>
            </div>

            <div class="repost-button">
                <i></i>
            </div>

            <div class="status">
                233 Likes 512 Comments
                <div class="comment-action">
                    Writre a comment
                </div>
            </div>
        </div>
    </section>

</body>


<script>
</script>

</html>
