<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1100">
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Tapmates</title>
    <link rel="stylesheet" href="../pages/site/2/css/style.css">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://cdn.tapmates.com/assets/js/prefixfree.min.js"></script>
    <script src="../pages/site/2/js/script.js"></script>
</head>

<!--[if IE ]>
<body class="ie">
<![endif]-->

<!--[if !IE]>-->
<body>
<!--<![endif]-->


<div id="screen_caption"></div>

<section id="works" class="works">
    <div class="content">
        <figure data-sub-height="590">
            <div class="iphone" data-pos="[[1294,500],[533,147]]"><img src="http://cdn.tapmates.com/assets/img/scr/summly-01.png" alt /></div>
            <div class="iphone" data-pos="[[177,490],[1050,295]]"><img src="http://cdn.tapmates.com/assets/img/scr/summly-02.png" alt /></div>
            <div class="iphone" data-pos="[[523,94],[816,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/summly-03.png" alt /></div>

            <figcaption>
                <h5>Summly</h5>
                <p>An app based on an revolutionary algorithm for text summarization, which promisses a completely new reading experience.</p>

                <nav>
                    <ul>
                        <li><a href="http://itunes.apple.com/us/app/summly/id488689465" target="_blank">AppStore</a></li>
                        <li><a href="http://www.crunchbase.com/company/summly" target="_blank">Crunchbase</a></li>
                    </ul>
                </nav>
            </figcaption>
        </figure>

        <figure data-sub-height="590">
            <div class="iphone" data-pos="[[456,348],[841,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/alpha-01.png" alt /></div>
            <div class="iphone" data-pos="[[296,1964],[554,148]]"><img src="http://cdn.tapmates.com/assets/img/scr/alpha-02.png" alt /></div>
            <div class="iphone" data-pos="[[953,2021],[1060,298]]"><img src="http://cdn.tapmates.com/assets/img/scr/alpha-03.png" alt /></div>

            <figcaption>
                <h5>Twiggy</h5>
                <p>A simple client for social network APP.net</p>

                <nav>
                    <ul>
                        <li><a href="http://tapmates.com/blog/twiggy-our-app-net-client-is-here" target="_blank">Blog post</a></li>
                    </ul>
                </nav>
            </figcaption>
        </figure>

        <figure data-sub-height="590">
            <div class="iphone" data-pos="[[65,147],[836,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/piictu-01.png" alt /></div>
            <div class="iphone" data-pos="[[563,693],[1060,298]]"><img src="http://cdn.tapmates.com/assets/img/scr/piictu-02.png" alt /></div>
            <div class="iphone" data-pos="[[911,296],[547,144]]"><img src="http://cdn.tapmates.com/assets/img/scr/piictu-03.png" alt /></div>

            <figcaption>
                <h5>Piictu</h5>
                <p>A popular app for a collective photo collection on different topics. Piictu took part on Techstars in the 2011 season in NYC and has raised 2M USD in general.</p>

                <nav>
                    <ul>
                        <li><a href="https://itunes.apple.com/us/app/piictu-talk-with-photos/id439888569?mt=8" target="_blank">AppStore</a></li>
                        <li><a href="http://piictu.com" target="_blank">Homepage</a></li>
                        <li><a href="http://www.crunchbase.com/company/piictu" target="_blank">Crunchbase</a></li>
                        <li>
                        </ul>
                    </nav>
                </figcaption>
            </figure>

            <figure data-sub-height="445">
                <div class="iphone" data-pos="[[1542,1760],[920,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/instagram-01.png" alt /></div>
                <div class="iphone" data-pos="[[970,40],[638,148]]"><img src="http://cdn.tapmates.com/assets/img/scr/instagram-02.png" alt /></div>

                <figcaption>
                    <h5>Instagram</h5>
                    <p>Design concept of the new UI for the popular app Instagram. This concept got lot of attention and was mentioned in most of the medias in the field.</p>

                    <nav>
                        <ul>
                            <li><a href="http://tapmates.com/blog/instagram" target="_blank">Blog post</a></li>
                            <li><a href="http://dribbble.com/shots/89272-Instagram-Crop" target="_blank">Dribbble</a></li>
                        </ul>
                    </nav>
                </figcaption>
            </figure>

            <figure data-sub-height="445">
                <div class="iphone" data-pos="[[1397,1407],[641,148]]"><img src="http://cdn.tapmates.com/assets/img/scr/mercato-01.png" alt /></div>
                <div class="iphone" data-pos="[[1356,238],[931,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/mercato-02.png" alt /></div>

                <figcaption>
                    <h5>Mercato</h5>
                    <p>The easiest way to sell your stuff on Craigslist. Finally a Craigslist app that is beautifully designed and easy to use.</p>

                    <p><em>Temporarily removed from AppStore, because of negotiations with Craigslist.</em></p>
                </figcaption>
            </figure>

            <figure data-sub-height="590">
                <div class="iphone" data-pos="[[187,783],[539,148]]"><img src="http://cdn.tapmates.com/assets/img/scr/klip-01.png" alt /></div>
                <div class="iphone" data-pos="[[842,550],[830,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/klip-02.png" alt /></div>
                <div class="iphone" data-pos="[[575,1822],[1058,297]]"><img src="http://cdn.tapmates.com/assets/img/scr/klip-03.png" alt /></div>

                <figcaption>
                    <h5>Klip</h5>
                    <p>An app for sharing video lead by the Silicon Valley veteran Alain Rossman. Klip has raised over 10M USD in several rounds of investments.</p>

                    <nav>
                        <ul>
                            <li><a href="https://itunes.apple.com/us/app/klip-video-sharing/id445539290" target="_blank">AppStore</a></li>
                            <li><a href="http://www.crunchbase.com/company/klip" target="_blank">Crunchbase</a></li>
                        </ul>
                    </nav>
                </figcaption>
            </figure>

            <figure data-sub-height="680">
                <div class="ipad" data-pos="[[-11,1106],[406,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/trafika-01.png" alt /></div>
                <div class="ipad" data-pos="[[686,1190],[836,227]]"><img src="http://cdn.tapmates.com/assets/img/scr/trafika-02.png" alt /></div>

                <figcaption>
                    <h5>Trafika</h5>
                    <p>A never implemented concept of a digital newsstand.</p>
                </figcaption>
            </figure>

            <figure data-sub-height="445">
                <div class="iphone" data-pos="[[577,984],[641,146]]"><img src="http://cdn.tapmates.com/assets/img/scr/tunewiki-01.png" alt /></div>
                <div class="iphone" data-pos="[[1356,1106],[926,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/tunewiki-02.png" alt /></div>

                <figcaption>
                    <h5>TuneWiki</h5>
                    <p>A very popular and powerfull app that allows users to talk about music through lyrics and photos. Tunewiki inspires people to experience, understand and share the lyrics and songs they love.</p>

                    <nav>
                        <ul>
                            <li><a href="https://itunes.apple.com/us/app/tunewiki-lyrics/id542470523" target="_blank">AppStore</a></li>
                            <li><a href="http://www.crunchbase.com/company/tunewiki" target="_blank">Crunchbase</a></li>
                        </ul>
                    </nav>
                </figcaption>
            </figure>

            <figure data-sub-height="680">
                <div class="ipad" data-pos="[[138,1470],[837,230]]"><img src="http://cdn.tapmates.com/assets/img/scr/cookmate-01.png" alt /></div>
                <div class="ipad" data-pos="[[942,748],[410,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/cookmate-02.png" alt /></div>

                <figcaption>
                    <h5>Cookmate for iPad</h5>
                    <p>The first app from Tapmates was Cookmate, which we successfully sold. This is a never implemented concept of the app for iPad.</p>
                </figcaption>
            </figure>

            <figure data-sub-height="455">
                <div class="ipad" data-pos="[[839,1541],[628,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/dribbblr-01.png" alt /></div>

                <figcaption>
                    <h5>Dribbblr</h5>
                    <p>A popular app for vieweing the content of Dribbble, where the best designers from the whole world show their great work.</p>
                </figcaption>
            </figure>

            <figure data-sub-height="445">
                <div class="iphone" data-pos="[[1269,1901],[929,0]]"><img src="http://cdn.tapmates.com/assets/img/scr/woodcamera-01.png" alt /></div>
                <div class="iphone" data-pos="[[680,2165],[645,147]]"><img src="http://cdn.tapmates.com/assets/img/scr/woodcamera-02.png" alt /></div>

                <figcaption>
                    <h5>Wood Camera</h5>
                    <p>For the photographer in everyone. The Wood Camera app gives you unparalleled control over the shooting and editing process. Experiment with dramatic live lenses, textures and frames.</p>

                    <nav>
                        <ul>
                            <li><a href="https://itunes.apple.com/us/app/wood-camera/id495353236" target="_blank">AppStore</a></li>
                            <li><a href="http://woodc.am" target="_blank">Homepage</a></li>
                            <li><a href="http://tapmates.com/blog/wood-camera-hits-1-us-store" target="_blank">Blog post</a></li>
                        </ul>
                    </nav>
                </figcaption>
            </figure>
        </div>
    </section>

    <section class="timeline">
        <div class="bg"></div>

        <div class="content">
            <ul>
                <li>
                    <div>
                        <h6>October, 2009</h6>
                        <p>Petr and Robin started Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2009</h6>
                        <p>Cookmate, our first iOS app was released</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2009</h6>
                        <p>Cookmate wins the App Star Award on LeWeb and is mentioned on TechCrunch</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>March, 2010</h6>
                        <p>Mirek and Adam joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>May, 2010</h6>
                        <p>Tapmates is officially founded</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>July, 2010</h6>
                        <p>Petr, Ondrej and Robert joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>July, 2010</h6>
                        <p>Tapmates is mentioned as an example in the book "Tapworthy: Designing Great iPhone Apps"</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>September, 2010</h6>
                        <p>Our second app, Dribbblr, is released</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>October, 2010</h6>
                        <p>Tapmates is used as an example in the book "App Savvy"</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2010</h6>
                        <p>Alena joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2010</h6>
                        <p>Our redesign of Instagram gains popularity, goes viral, and allows us to break into the US market</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>January, 2011</h6>
                        <p>Work on Piictu begins</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>February, 2011</h6>
                        <p>Work on Klip begins</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>May, 2011</h6>
                        <p>Trip to Silicon Valley to finish &amp; release Klip for iOS</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>Summer 2011</h6>
                        <p>Applied for TechStars New York with Piictu</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>August, 2011</h6>
                        <p>Daniel joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>September, 2011</h6>
                        <p>Martin joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>September, 2011</h6>
                        <p>Piictu made it to TechStars NY Class of Summer 2011 and raises 750k USD</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>September, 2011</h6>
                        <p>Klip raises $2 million in funding from Matrix Partners</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>November, 2011</h6>
                        <p>Klip has raised $8 million in Series B funding</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>January, 2012</h6>
                        <p>Work on Summly begins</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>March, 2012</h6>
                        <p>Tapmates moves to NYC, and our USA office opens</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>April, 2012</h6>
                        <p>Wood Camera is released</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>August, 2012</h6>
                        <p>TuneWiki is released</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>August, 2012</h6>
                        <p>Begin cooperating on design of the Highlight app</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2012</h6>
                        <p>Mira joined Tapmates</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>December, 2012</h6>
                        <p>Twiggy, our mobile client for App.net was released to the AppStore</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>January 2013</h6>
                        <p>Wood Camera became the most downloaded app in the US Store</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6>March 2013</h6>
                        <p>Yahoo! acquires Summly</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>